<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4><%= @survey.name %></h4>
      <h5><%= @survey.description %></h5>
      <ul>
        <% @survey.questions.each do |question| %>
          <li><a href="/question/<%=question.id %>"><%= question.question %></a></li>
        <% end %>
      </ul>
      <br>
    </div>
    <div class="col-md-6">
      <h4>Edit Survey</h4>
      <form class="form-group" action="/survey" method="post">
        <input name="survey_id" type="hidden" value="<%= @survey.id %>">
        <input name="_method" type="hidden" value="patch">
        <label for="survey-name">Survey Name</label>
        <input class="form-control" type="text" name="survey-name">
        <br>
        <label for="survey-description">Survey Description</label>
        <input class="form-control" type="text" name="survey-description">
        <br>
        <button type="submit" class="btn btn-success">Edit Survey</button>
      </form>
      <!-- questions form -->
      <form class="form-group" action="/question" method="post">
        <input name="survey_id" type="hidden" value="<%= @survey.id %>">
        <label for="question-name">Enter Question</label>
        <input class="form-control" type="text" name="question-name">
        <br>
        <button type="submit" class="btn btn-success">Add Question</button>
      </form>
      <!-- delete button -->
      <form action="/survey" method="post">
        <input name="_method" type="hidden" value="delete">
        <input name="survey_id" type="hidden" value="<%= @survey.id %>">
        <button type="submit" class="btn btn-danger">Delete Survey</button>
      </form>
    </div>
  </div>


  <a class="btn btn-success" href="/">Home</a>
</div>
